{% extends "@Theme/layout.html.twig" %}

{% block content %}
    <h2>Description</h2>
    <p>{{ project.getDescription() }}</p>
    
    <h2>Concepts</h2>
    <ul>
        {% for concept in project.getConcepts() %}
        <li><b>{{ concept.getName() }}</b>: {{ concept.getDescription}}</li>
        {% endfor %}
    </ul>
    {#
    <div class="buttonbox">
        <a href="{{ path('projects_index' )}}" class="btn btn-default">Back</a>
    </div>
    #}
    
{% endblock %}
