debug: false
baseurl: /skeleton
pdo: mysql://root@localhost/sandbox_bluecode

projects:
    project-blog: example/project-blog
    
security:
    providers:
        UserBase:
            url: userbase_api_url
            username: userbase_username
            password: userbase_password
